<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
        <meta name="description" content="">
        <meta name="author" content="">
        <!--<link rel="icon" href="https://v3.bootcss.com/favicon.ico">-->

        <title>Signin Template for Bootstrap</title>

        <!-- Bootstrap core CSS -->
        <link href="../portal/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="../portal/static/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
        <link href="../portal/static/css/signin.css" rel="stylesheet">
        <script src="../portal/static/bootstrap/js/jquery.min.js"></script>
        <script src="../portal/static/bootstrap/js/bootstrap.min.js"></script>
        <!--<script src="../portal/static/js/login.js"></script>-->
  </head>

  <body>

        <div class="container">
            <form class="form-signin" action="/portal/loginSubmit" method="post">
                <h2 class="form-signin-heading">登录</h2>
                <label for="username" class="sr-only">用户名</label>
                <input type="text" id="username" name="username" class="form-control" required="" autofocus="">
                <label for="password" class="sr-only">密码</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="password" required="">
                <label for="kaptchaVerCode" class="sr-only">验证码</label>
                <input type="text" id="kaptchaVerCode" name="kaptchaVerCode" class="form-control" required="" autofocus="">
                <input type="image" id="verCodeImage" name="verCodeImage" src="/kaptcha/verCode" class="form-control" required="">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="remember-me"> Remember me
                  </label>
                </div>
                <button id="submitButton" class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
            </form>
        </div>
  </body>
</html>